$background-color: #131723;
$font-family: sans-serif;

$primary-text-color: #adb1b7;
$secondary-text-color: #3e4451;

$asks-text-color: #ab2f32;
$bids-text-color: #108860;

$accent-color: #5741d9;

$border-radius: 3px;
